@{
  ViewBag.Title = "Welcome";
}

<div id="header">
  <h1>Welcome</h1>
</div>

<div id="main">
  <p>
    This project started when my wife opened a daycare facility. Since the openning of the facility we have been studying the inefficiencies and found several. 
    Most or which are around managing interactions with families and employees.
  </p>

  <div class="section first">
    <h4>Technologies:</h4>
    <ul>
      <li><a href="http://www.asp.net">ASP.NET</a></li>
      <li>C#</li>
      <li>MVC 5</li>
      <li>Razor View Engine</li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li>Entity Framework</li>
    </ul>
  </div>

  <div class="section first">
    <h4>Project plan will be as follows:</h4>
    <ul>
      <li>Managing people</li>
      <li>Recording check ins and outs</li>
      <li>Recoding daily sheets</li>
      <li>Communications (email)</li>
      <li>TBD...</li>
    </ul>
  </div>
</div>